<div class="row">
    <div class="w-100 m-4">
        <h1 class="text-center">Configurateur</h1>
    </div>

    <div class="w-100 p-4">
        <form class="w-100" #configuratorForm="ngForm">
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group">
                        <label for="exampleSelect1">Gamme</label>
                        <select [disabled]="!isEditing" class="custom-select d-block" id="range"  name="range" [(ngModel)]="configurators[currentAreaIndex].range" #range>
                            <option value="{{range.id}}" *ngFor="let range of ranges"> {{range.title}} </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1">Kit conseillé</label>
                        <select [disabled]="!isEditing"  class="custom-select d-block" #kit [(ngModel)]="configurators[currentAreaIndex].kit.id"  (change)="kitChange(kit)" id="kit" name="orientation">
                            <option value="{{product.id}}" *ngFor="let product of products">{{product.kit_description}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 p-4">
                    <p>{{(selectedKit.price/1.2 ).toFixed(2)}} HT</p>
                    <p>{{selectedKit.price}} TTC</p>
                </div>

            </div>
            <br>
       
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-2 delete-wc-area">
                    <span class="text-primary">Choix de la grille</span>
                    <p class="text-secondary">Une fois la grille de pose choisie, il vous est possible de déplacer les panneaux manuellement.</p>
                   </div>
                   <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-outline-primary grid-choice grid-choice-disabled" [attr.data-choice]="'verticale'" (click)="changeGridChoice('verticale')">
                      <input type="radio" name="grid" id="gridV" value="v" checked="true" [(ngModel)]="gridChoice" autocomplete="off"> Verticale
                    </label>
                    <label class="btn btn-outline-primary grid-choice grid-choice-disabled" [attr.data-choice]="'horizontale'" (click)="changeGridChoice('horizontale')">
                      <input type="radio" name="grid" id="gridH" value="h"  [(ngModel)]="gridChoice"  autocomplete="off"> Horizontale
                    </label>
                  </div>
               </div> 
               <div class="col-lg-8">
                <div id="area-scroller" class="container-fluid">
                    <div class="border border-info m-3 bg-light position-relative area-resize row"
                    #areaBlock id="area" [style.width]="area.width != 0 ? area.width * scall+'px': 0 " [style.height]="area.height != 0 ? area.height * scall+'px' : 0 ">
                       <div id="loader_container" class="d-none">
                        <img src="assets/preloader.gif" alt="">
                       </div>
                        <div #panelModal class="modal modal-container justify-content-center align-items-center">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title">Choisissez un panneau</h5>
                                <button type="button" class="close" (click)="closePanelModal(panelModal)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Panneau : 
                                <select name="panel" id="select_panel" #selectedPanel class="form-control custom-select">
                                    <option *ngFor="let panel of panels" value="{{panel.type}}" [attr.data-price]="panel.price" [attr.data-id]="panel.id">{{panel.description}} ({{panel.type}})</option>
                                </select>
                               
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="addPanel(panelModal, selectedPanel)">Ok</button>
                                <button type="button" class="btn btn-danger" (click)="deletePanel(panelModal)" >Supprimer</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="one column grid-line d-flex align-items-center justify-content-center" #panel (click)="changePanel(panelModal, i)" *ngFor="let panel of panelsNumber; let i = index" [style.width]="panelSize.width? panelSize.width * scall+'px': 0 " [style.height]="panelSize.height? panelSize.height * scall+'px' : 0 ">
                        </div>
                        <p class="m-0 w-100 text-center font-weight-bold position-absolute unselectable" style="font-size: 10px;top:-15px">
                            <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                            <span>{{area.width}} m </span>
                            <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i>  -->
                        </p>
                        <p class="m-0 h-100 left-center font-weight-bold position-absolute unselectable" style="font-size: 10px;left:-35px">
                                <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> <br> -->
                                <span>{{area.height}} m </span> <br>
                            <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i>  -->
                        </p>
                        <div *ngIf="cornersAction.topLeft"
                            id="top_left" class="border border-info corners top-left"
                            [style.width]="cornersSize.topLeft.width != 0 ? cornersSize.topLeft.width +'px': scall " [style.height]="cornersSize.topLeft.height != 0 ? cornersSize.topLeft.height+'px' : scall "
                            >
                            <div class="size-info" style="font-size: 7px;height: 100%;">
                                <p class="m-0 bottom-center">
                                    <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                                    <span>{{(cornersSize.topLeft.width/scall).toFixed(1)}} m </span>
                                <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i>  -->
                                </p>
                                <p class="m-0 right-center">
                                    <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> <br> -->
                                    <span>{{(cornersSize.topLeft.height/scall).toFixed(1)}} m </span> <br>
                                    <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i>  -->
                                </p>
                            </div>
                        </div>
                        <div *ngIf="cornersAction.topRight"
                        id="top_right" class="border border-info corners top-right"
                        [style.width]="cornersSize.topRight.width != 0 ? cornersSize.topRight.width +'px': scall " [style.height]="cornersSize.topRight.height != 0 ? cornersSize.topRight.height+'px' : scall "
                        >
                            <div class='resizer corner-bottom-left'></div>
                            <div class="size-info" style="font-size: 7px;height: 100%;">
                                <p class="m-0 bottom-center">
                                    <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                                    <span>{{(cornersSize.topRight.width/scall).toFixed(1)}} m </span>
                                <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i>  -->
                                </p>
                                <p class="m-0 left-center">
                                    <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> <br> -->
                                    <span>{{(cornersSize.topRight.height/scall).toFixed(1)}} m </span> <br>
                                    <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i>  -->
                                </p>
                            </div>
                        </div>
                        <div *ngIf="cornersAction.bottomRight" 
                            id="bottom_right" class="border border-info corners bottom-right"
                            [style.width]="cornersSize.bottomRight.width != 0 ? cornersSize.bottomRight.width +'px': scall " [style.height]="cornersSize.bottomRight.height != 0 ? cornersSize.bottomRight.height+'px' : scall "
                            >
                            <div class="size-info" style="font-size: 7px;height: 100%;">
                                <p class="m-0 top-center">
                                    <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                                    <span>{{(cornersSize.bottomRight.width/scall).toFixed(1)}} m </span>
                                <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i>  -->
                                </p>
                                <p class="m-0 left-center">
                                    <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> <br> -->
                                    <span>{{(cornersSize.bottomRight.height/scall).toFixed(1)}} m </span> <br>
                                    <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i>  -->
                                </p>
                            </div>
                        </div>
                        
                        <div *ngIf="cornersAction.bottomLeft" 
                            id="bottom_left" class="border border-info corners bottom-left"
                            [style.width]="cornersSize.bottomLeft.width != 0 ? cornersSize.bottomLeft.width +'px': scall " [style.height]="cornersSize.bottomLeft.height != 0 ? cornersSize.bottomLeft.height+'px' : scall "
                            >
                            <div class="size-info" style="font-size: 7px;height: 100%;">
                                <p class="m-0 top-center">
                                    <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                                    <span>{{(cornersSize.bottomLeft.width/scall).toFixed(1)}} m </span>
                                <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i>  -->
                                </p>
                                <p class="m-0 right-center">
                                    <!-- <i class="fa fa-arrow-up" aria-hidden="true"></i> <br> -->
                                    <span>{{(cornersSize.bottomLeft.height/scall).toFixed(1)}} m </span> <br>
                                    <!-- <i class="fa fa-arrow-down" aria-hidden="true"></i>  -->
                                </p>
                            </div>
                        </div>
                        <div *ngFor="let windowChimney of windowsChimneies; let i = index" id="window_chimney{{i}}" (mousedown)="$event.stopPropagation()"  style="background-color: #f2f2f2;" class="border border-info d-flex justify-content-center align-items-center inner" [style.width]="windowChimney.width != 0 ? windowChimney.width * scall+'px': 0 " [style.height]="windowChimney.height != 0 ? windowChimney.height * scall+'px' : 0 ">
                        <span>{{types[windowChimney.type]}}</span> 
                        </div>

                    </div>
                </div>

               </div>
            </div>
            <br><br><br>
            <div *ngIf="isEditing" class="row">
                <div class="col-lg-4">
                    <h6 class="text-muted">Puissance éléctrique totlale (WC)</h6>
                    <h3 *ngIf="!configurators[currentAreaIndex].kit._isCustom" >{{selectedKit.electric_power}}</h3> 
                    <h3><input type="text" pattern="^[1-9]*$" required *ngIf="configurators[currentAreaIndex].kit._isCustom" name="electric_power" id="electric_power" class="form-control border border-primary text-primary w-50" [(ngModel)]="configurators[currentAreaIndex].electric_power" #electric_power="ngModel"></h3>
          
                    <!-- <h6 class="text-muted">Puissance thérmitique totlale (WC)</h6>
                    <h3>0</h3> -->
                </div>
                <div class="col-lg-4">
                    <h6 class="text-muted">Nombre de panneaux</h6>
                    <h3>{{getPanelsCount()}}</h3>
                    <h5 *ngFor="let linkedPanel of selectedKit._panels_data">{{linkedPanel.number}} {{adaptKitTextsForPlural(linkedPanel.title, linkedPanel.number, 'panneau', 'panneaux')}}</h5>
                </div>
                <div class="col-lg-4">
                    <h6 class="text-muted">Champs solaires</h6>
                    <h5>{{selectedKit.grid_rows}} {{adaptKitTextsForPlural('Ligne', selectedKit.grid_rows,  'Ligne', 'Lignes')}}
                        {{selectedKit.grid_columns}} {{adaptKitTextsForPlural('Colonne', selectedKit.grid_columns,'Colonne', 'Colonnes')}}
                    </h5>
                </div>
            </div>
            <div class="row m-3">
                <div class="border p-1 created-areas-container col-lg-12">
                    <div class="m-1 rounded-pill bg-white p-3 d-inline-block created-area" *ngFor="let area of areas" #addedArea (click)="showArea(addedArea)" [attr.data-title]="area.title">
                        {{area.title}}
                       <small> ({{(area.width * area.height).toFixed(1)}}m²) </small> 
                    </div>
                </div>
            </div>
            <div class="m-3">
                <button class="btn btn-info rounded float-left" (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i> Précedent</button>
                <button class="btn btn-info rounded float-right" (click)="save()">Enregistrer et continuer <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>

</div>

