<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">MonDevis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  *ngIf="isConnected()"  routerLink="/projets">Projets<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  *ngIf="isAdmin"  routerLink="/contacts" routerLinkActive="active">Gestion Comptes<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li routerLinkActive="active"> <a class="nav-link" *ngIf="!isConnected()"  routerLink="/login">Connecter</a></li>
      <li> <a class="nav-link" style="cursor: pointer;" *ngIf="isConnected()"  (click)="logOut()">Déconnecter</a></li>
    </ul>
  </div>
</nav>
