<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">MonDevis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  *ngIf="isConnected()"  routerLink="/projets">Projets<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown"  *ngIf="isConnected() && isAdmin">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <i style="font-size: 18px;" class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" bis_skin_checked="1" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 37px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a routerLink="/contacts" class="dropdown-item" routerLinkActive="active">
            <i class="fa fa-user" aria-hidden="true"></i> Comptes
            <span class="sr-only">(current)</span>
          </a>
          <a routerLink="/products" class="dropdown-item" routerLinkActive="active">
            <i class="fa fa-product-hunt" aria-hidden="true"></i> Produits
            <span class="sr-only">(current)</span>
          </a>
          <a routerLink="/gammes" class="dropdown-item" routerLinkActive="active">
            <i class="fa fa-balance-scale" aria-hidden="true"></i> Gammes
            <span class="sr-only">(current)</span>
          </a>
          <a routerLink="/component" class="dropdown-item" routerLinkActive="active">
            <i class="fa fa-list-alt" aria-hidden="true"></i> Composants
            <span class="sr-only">(current)</span>
          </a>
          <a routerLink="/panels" class="dropdown-item" routerLinkActive="active">
            <i class="fa fa-map-signs" aria-hidden="true"></i> Panneaux
            <span class="sr-only">(current)</span>
          </a>
        </div>
      </li>
      <li routerLinkActive="active"> <a class="nav-link" *ngIf="!isConnected()"  routerLink="/login">Connecter</a></li>
      <li> <a class="nav-link" style="cursor: pointer;" *ngIf="isConnected()"  (click)="logOut()">Déconnecter</a></li>
    </ul>
  </div>
</nav>
