<ul  class="nav flex-column m-3 mt-5">
  <li class="nav-item">
    <a  [ngClass]="{'bleu': pi == true  }" class="fa-stack-1x"   class="nav-link active" ><span class="fa-stack">
      <span class="fa fa-circle-o fa-stack-2x"></span>
      <strong class="fa-stack-1x">
        <p *ngIf=pi>1</p>
        <i *ngIf=!pi class="fa fa-check" aria-hidden="true"></i>      
      </strong>
  </span>Projet</a>
    <ul class="nav flex-column" *ngIf=!pi>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">{{projet.title}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{projet.client.first_name}} {{projet.client.last_name}}</a>
        </li>
    </ul>
  </li>
  <li class="nav-item">
    <a  [ngClass]="{'bleu': pi == false , 'black': ai == true}" class="fa-stack-1x"   class="nav-link active" ><span class="fa-stack">
      <span class="fa fa-circle-o fa-stack-2x"></span>
      <strong class="fa-stack-1x">
        <p *ngIf=!ai>2</p>
        <i *ngIf=ai class="fa fa-check" aria-hidden="true"></i>   
      </strong>
  </span>Area</a>
    <ul class="nav flex-column" *ngIf="area">
      <li class="nav-item">
        <a class="nav-link disabled" href="#" *ngIf="area">{{area[0].title}}</a>
      </li>
       <li class="nav-item">
          <a class="nav-link disabled" href="#">{{area[0].coating}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{area[0].orientation}}</a>
        </li>
    </ul>
  </li>
  <li class="nav-item">
    <a  [ngClass]="{'bleu': ai == true , 'black': bi== false }" class="fa-stack-1x"   class="nav-link active" ><span class="fa-stack">
      <span class="fa fa-circle-o fa-stack-2x"></span>
      <strong class="fa-stack-1x">
        <p *ngIf=bi>3</p>
        <i *ngIf=!bi class="fa fa-check" aria-hidden="true"></i>    
      </strong>
  </span>Besoin</a>
    <ul class="nav flex-column" *ngIf=!bi>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">{{besoin[0].need.electric_power}}W</a>
        </li>
        <li class="nav-item">
          <a *ngIf="besoin[0].need.electric_collection==true" class="nav-link disabled" href="#">{{besoin[0].need.electric_setup}}</a>
        </li>
        <li class="nav-item">
          <a *ngIf="besoin[0].need.heating_production==true" class="nav-link disabled" href="#">{{besoin[0].need.heating_number_bouche}} * bouchons d'insuffisant</a>
        </li>
        <li class="nav-item">
          <a *ngIf="besoin[0].need.water_heating==true" class="nav-link disabled" href="#">Eau sanittaire chauffé par {{besoin[0].need.water_heating_way}}</a>
        </li>
    </ul>
  </li>
  <li class="nav-item">
    <a  [ngClass]="{'bleu': bi == false , 'black': ci== true }" class="fa-stack-1x"   class="nav-link active" ><span class="fa-stack">
      <span class="fa fa-circle-o fa-stack-2x"></span>
      <strong class="fa-stack-1x">
        <p *ngIf=!ci>4</p>
        <i *ngIf=ci class="fa fa-check" aria-hidden="true"></i>  
      </strong>
  </span>configurateur</a>
    <ul class="nav flex-column" *ngIf=ci>
      <li class="nav-item">
          <a class="nav-link disabled" href="#">{{configurateur[1].kit.selected.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{configurateur[1].kit.selected.kit_description}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{configurateur[1].gridChoice}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{configurateur[1].kit.selected.electric_power}} W</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{s}} panneau ({{detail}})</a>
        </li>
    </ul>
  </li>
  <li class="nav-item">
    <a  [ngClass]="{'bleu': ci == true , 'black': Ai== false }" class="fa-stack-1x"   class="nav-link active" ><span class="fa-stack">
      <span class="fa fa-circle-o fa-stack-2x"></span>
      <strong class="fa-stack-1x">
        <p *ngIf=Ai>5</p>
        <i *ngIf=!Ai class="fa fa-check" aria-hidden="true"></i>    
      </strong>
  </span>composant</a>
  </li>
  <li class="nav-item">
    <a  [ngClass]="{'bleu': ri == true}" class="fa-stack-1x"   class="nav-link active" ><span class="fa-stack">
      <span class="fa fa-circle-o fa-stack-2x"></span>
      <strong class="fa-stack-1x">
        <p *ngIf=Ai>6</p>
        <i *ngIf=!Ai class="fa fa-check" aria-hidden="true"></i>    
      </strong>
  </span>Récapitulatif</a>
  </li>
</ul>