<div class="modal-header">
  <h4 class="modal-title" *ngIf="product" >{{product.name}}</h4>
  <button class="close" type="button" aria-label="close" (click)="activeModal.dismiss('cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-body row">
      <div class="col-5">
        <img *ngIf="product" src="{{product.product_image}}" alt="rewre" class="img-thumbnail avatar">
      </div>
      <div class="col-7" *ngIf="product">
        <p class="card-text font-weight-bold">Name : {{product.name}}</p>
        <p class="card-text font-weight-bold">Puissance électrique : {{product.electric_power}}</p>
        <p class="card-text font-weight-bold">Installation électrique : {{product.electrical_installation}}</p>
        <p class="card-text"><span class="font-weight-bold">Price : </span>{{product.price | number: '0.2' }} DH</p>
        <p class="card-text"><span class="font-weight-bold">Description : </span>{{product.description}}</p>
        <p><span class="font-weight-bold">Descripiton du kit : </span>{{product.kit_description}}</p>
        <div>
          <div class="file-area border border-secondary" *ngIf="product" >
            <label>Les composants associés</label>
              <h6 *ngIf="product.components.length == 0" class="text-center w-100">Ce produit n'a aucun composant associé.</h6>
              <div *ngFor="let component of product.components" class="file-name text-primary border-bottom border-Secondary">
                 - <strong class="font-weight-bold">Réf fab  : {{component.man_ref}}</strong>  <br>  <strong  class="font-weight-bold"> - Intitulé  : </strong> {{component.title}} <br> - <strong  class="font-weight-bold">Type : </strong> :  {{component.type}}
              </div>
          </div>
        </div>
        <a class="btn btn-danger ml-1 btn-sm rounded btn-action text-light mt-2" (click)="delete(product.id)">
          <i class="fa fa-trash" aria-hidden="true"></i> Supprimer
        </a>
      </div>
    
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('cross click')">
    Fermer
  </button>
</div>
