<div class="modal-header">
  <button type="button" class="close" aria-label="close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  <div class="modal-body"> 
    <div class="card">

      <form #f="ngForm">
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="projet">Projet</label>
            <input type="text" class="form-control" id="projet" placeholder=" Nom Projet" [(ngModel)]="project.title"  name="project" #title="ngModel" >
            <div *ngIf="title.invalid && title.touched">
              <small class="alert alert-danger">Ce champs est vide</small>
            </div>
          </div>

          <div class="col-md-3 mb-3" *ngIf="isAdmin">
            <label for="client">Client</label>
            <select class="form-control custom-select" [(ngModel)]="project.idClient" #client="ngModel"  id="client" name="client">
              <option value="{{client.id}}"  *ngFor="let client of projectsClient">{{client.first_name}} {{client.last_name}}</option>
            </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="adress">Adresse</label>
            <input type="text" class="form-control" id="adress" placeholder="Adresse" [(ngModel)]="project.adress"  name="adress" #adress="ngModel" >
            <div *ngIf="adress.invalid && adress.touched">
              <small class="alert alert-danger">Ce champs est vide</small>
            </div>
          </div>
          
        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="price">Prix</label>
            <input type="text" class="form-control" id="price" placeholder="prix DH"   [(ngModel)]="project.price"  name="price" #price="ngModel"  >
            <div *ngIf="price.invalid && price.touched">
              <small class="alert alert-danger">Ce champs est vide</small>
            </div>

          </div>

          <div class="col-md-4 mb-3">
              <label for="status">Status</label><br/>
                    <select name="status" class="form-control custom-select"  [(ngModel)]="project.status" #status="ngModel" id="status" name="status">
                      <option value="Nouveau">Nouveau </option>
                      <option value="En traitement">En traitement</option>
                      <option value="Traité">Traité</option>
                    </select>
          </div>
        </div>
        
          <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="createdAt">Date de création de projet</label>
                <div class="input-group">
                      <input class="form-control" placeholder="dd-mm-yyyy"  id="createdAt" name="createdAt" [(ngModel)]="project.created_at" #createdAt="ngModel" ngbDatepicker #d="ngbDatepicker"   >
                        <div *ngIf="createdAt.invalid && createdAt.touched">
                          <small class="alert alert-danger">Ce champs est vide</small>
                      </div> 
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                      </div>
              </div>
            </div> 
            </div>
            <button type="button" class="btn btn-primary"  (click)="clearForm(f)" >Vider le Filtre</button>
            <span class="text-danger" *ngIf="errorMessage">{{errorMessage}}</span>
            <button  type="submit"  class="btn btn-success float-right" (click)="save(f)">Filtrer</button>
      </form>
    </div>
  </div>
           





