<div class="row mt-3">
    <div class="col-lg-7">
        <p class="bs-component">
        <a routerLink="/contacts"><button type="button" class="btn btn-outline-secondary"> Retour à la page d'accueil</button></a>
        </p>
</div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="bs-component">
           <div class="card bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header">{{contact.first_name}} {{contact.last_name}}</div>
              <div class="card-body">
                 <p class="card-text"> email: {{contact.email}}</p>
                 <p class="card-text"> rôle:{{role[contact.roles[0]]}}</p>
              </div>
            </div>
        </div>
    </div>
</div>
