/* You can add global styles to this file, and also import other style files */

.modal-content{
    animation-name: ngbModel;
    animation-duration: 0.4s;
}
  
@keyframes ngbModel {
    0%   {transform: scale(0.5)}
    75%  {transform: scale(1.1)}
    100% {transform: scale(1)}
}

.avatar-form {
    margin: auto;
    .col-8 {
        display: flex;
        .input-file {
            justify-content: center;
            align-content: center;

            label.custom-file-label {
                font-size: 85%;
            }
        }
    }
    .avatar img {
        border-radius: 50px;
        width: 130px;
        height: 130px;
        background-color: white;
    }
}

