/* You can add global styles to this file, and also import other style files */

.modal-content{
    animation-name: ngbModel;
    animation-duration: 0.4s;
}
  
.modal-dialog {
    max-width: 95% !important;
}

@keyframes ngbModel {
    0%   {transform: scale(0.5)}
    75%  {transform: scale(1.1)}
    100% {transform: scale(1)}
}
.file-area {
    max-height: 200px;
    overflow-y: scroll;
}
.avatar-form {
    margin: auto;
    .btn-file-area  {
        display: flex;
        .input-file {
            justify-content: center;
            align-content: center;

            label.custom-file-label {
                font-size: 85%;
            }
        }
    }
    .avatar img {
        border-radius: 50px;
        width: 130px;
        height: 130px;
        background-color: white;
    }
}

.table thead th {
    padding: 20px !important;
    text-align: center;
}

.btn-action {
    padding: 6px 16px ;
}
.cell-avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;

}

.table-container {
    overflow-x: auto;
 }

@media screen and (min-width: 767px){
    .modal-dialog {
        max-width: 75% !important;
    }
    .table-container {
       overflow-x: auto;
    }
} 

@media screen and (min-width: 991px) {
    .modal-dialog {
        max-width: 60% !important;
    }

    .table-container {
        overflow-x: unset;
     }
}

@media screen and (min-width: 1048px) {
    .modal-dialog {
        max-width: 50% !important;
    }

    .table-container {
        overflow-x: unset;
     }
}